@use "../../../Ladral.ToDo.WebApp.Bff/wwwroot/styles/abstracts/functions" as fx;
@use "../../../Ladral.ToDo.WebApp.Bff/wwwroot/styles/abstracts/size" as *;

.navbar-brand {
  font-size: 1.1rem;
}

.nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
  padding-top: 1rem;
}

.nav-item:last-of-type {
  padding-bottom: 1rem;
  text-decoration: none;
}

.nav-link-icon {
  --_nav-link-icon-Fill: var(--nav-link-icon-Fill, currentColor);
  --_nav-link-icon-LineHeight: var(--nav-link-icon-LineHeight, 1em);
  --_nav-link-icon-FontSize: var(--nav-link-icon-FontSize, 2rem);
  --_nav-link-icon-MarginRight: var(--nav-link-icon-MarginRight, 0.75rem);

  fill: var(--_nav-link-icon-Fill);
  line-height: var(--_nav-link-icon-LineHeight);
  font-size: var(--_nav-link-icon-FontSize);
  height: var(--_nav-link-icon-FontSize);
  width: var(--_nav-link-icon-FontSize);
  margin-right: var(--_nav-link-icon-MarginRight);
}

.nav-item ::deep .nav-link {
  color: #{fx.getOnColor(primary, 800)};
  text-decoration: none;
  padding: .5rem 1rem;
  background: none;
  border: none;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
  width: 100%;
}

.nav-item ::deep a.active {
  color: #{fx.getPrimaryColor()};
}

.nav-item ::deep .nav-link:hover {
  background-color: #{fx.getColor(gray, 700)};
}

.navbar {
  display: none;
}

@media (min-width: $breakpoint-xs) {
  .navbar {
    /* Never collapse the sidebar for wide screens */
    display: block;

    /* Allow sidebar to scroll for tall menus */
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
  }
}