@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to ladral todo web app</h1>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

