/* _content/Ladral.ToDo.WebApp/Components/Layout/Header.razor.rz.scp.css */
/* Color Defaults */
/* Container */
/* @return var(--color-primary, rgb(242, 2, 242)); */
/* @return var(--color-grey-800, rgb(17, 24, 39); */
/* @return var(--token-transition, ease-in-out 0.3s; */
/** Breakpoints **/
/** 1200px and smaller */
/** 992px or smaller */
/** 768px or smaller */
/** 576px or smaller */
/** 400px or smaller */
.header[b-kk4jroyozg] {
  --_header-ZIndex: var(--header-ZIndex, 20);
  --_header-Padding: var(--header-Padding, 1rem 0);
  z-index: var(--_header-ZIndex);
  padding: var(--_header-Padding);
  box-shadow: var(--token-shadow, 0 0.0625rem 1rem rgb(17, 24, 39));
  position: sticky;
  top: 0;
  width: 100%;
  color: var(--color-on-grey-800, rgb(229, 229, 229));
  background-color: var(--dral-bg-color, rgba(55, 65, 81, 0.6));
}

.header__logo[b-kk4jroyozg] {
  display: none;
}

.navbar-toggler[b-kk4jroyozg] {
  height: 35px;
  margin-right: 1rem;
  margin-left: auto;
}

label.navbar-toggler__icon[b-kk4jroyozg] {
  --_navbar-toggler__icon-ZIndex: var(--navbar-toggler__icon-ZIndex, 30);
  z-index: var(--_navbar-toggler__icon-ZIndex);
  display: block;
  position: relative;
  background: var(--color-grey-600, rgb(75, 85, 99));
  width: 45px;
  height: 35px;
  border-radius: 4px;
}

input#navbar-toggler__checkbox[b-kk4jroyozg] {
  display: none;
}

.navbar-toggler__icon-line[b-kk4jroyozg] {
  position: absolute;
  left: 10px;
  height: 2px;
  width: 25px;
  background: #fff;
  border-radius: 1px;
  display: block;
  transition: 0.4s;
  transform-origin: center;
}

.navbar-toggler__icon-line:nth-child(1)[b-kk4jroyozg] {
  top: 8px;
}

.navbar-toggler__icon-line:nth-child(2)[b-kk4jroyozg] {
  top: 16px;
}

.navbar-toggler__icon-line:nth-child(3)[b-kk4jroyozg] {
  top: 24px;
}

#navbar-toggler__checkbox:checked + .navbar-toggler__icon .navbar-toggler__icon-line:nth-child(1)[b-kk4jroyozg] {
  transform: translateY(8px) rotate(-45deg);
}

#navbar-toggler__checkbox:checked + .navbar-toggler__icon .navbar-toggler__icon-line:nth-child(2)[b-kk4jroyozg] {
  opacity: 0;
}

#navbar-toggler__checkbox:checked + .navbar-toggler__icon .navbar-toggler__icon-line:nth-child(3)[b-kk4jroyozg] {
  transform: translateY(-8px) rotate(45deg);
}

.sidebar[b-kk4jroyozg] {
  position: fixed;
  left: 0;
}

.navbar-toggler__navbar[b-kk4jroyozg]  .navbar {
  --_navbar-toggler__navbar-Transform: var(--navbar-toggler__navbar-Transform, translatey(-125%));
  background-color: var(--dral-bg-color, rgba(55, 65, 81, 0.6));
  box-shadow: var(--token-shadow, 0 0.0625rem 1rem rgb(17, 24, 39));
  display: block;
  position: fixed;
  top: 0;
  transform: var(--_navbar-toggler__navbar-Transform);
  transition: var(--token-transition, 0.8s cubic-bezier(0.52, 0.16, 0.04, 1));
  transition-property: transform;
  width: 100vw;
}

#navbar-toggler__checkbox:checked ~ .navbar-toggler__navbar[b-kk4jroyozg]  .navbar {
  transform: translatey(0);
}

@media (min-width: 36em) {
  .header[b-kk4jroyozg] {
    --header-Padding: 1rem 1rem;
  }
  .navbar-toggler[b-kk4jroyozg] {
    display: none;
  }
  .navbar-toggler__navbar[b-kk4jroyozg]  .navbar {
    display: none;
  }
  .header__logo[b-kk4jroyozg] {
    display: block;
  }
}

/*# sourceMappingURL=Header.razor.css.map */
/* _content/Ladral.ToDo.WebApp/Components/Layout/MainLayout.razor.rz.scp.css */
/* Color Defaults */
/* Container */
/* @return var(--color-primary, rgb(242, 2, 242)); */
/* @return var(--color-grey-800, rgb(17, 24, 39); */
/* @return var(--token-transition, ease-in-out 0.3s; */
#blazor-error-ui[b-t1kgfov2u2] {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss[b-t1kgfov2u2] {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

/*# sourceMappingURL=MainLayout.razor.css.map */
/* _content/Ladral.ToDo.WebApp/Components/Layout/NavMenu.razor.rz.scp.css */
/* Color Defaults */
/* Container */
/* @return var(--color-primary, rgb(242, 2, 242)); */
/* @return var(--color-grey-800, rgb(17, 24, 39); */
/* @return var(--token-transition, ease-in-out 0.3s; */
/** Breakpoints **/
/** 1200px and smaller */
/** 992px or smaller */
/** 768px or smaller */
/** 576px or smaller */
/** 400px or smaller */
.navbar-brand[b-t57kiqfyif] {
  font-size: 1.1rem;
}

.nav-item[b-t57kiqfyif] {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-t57kiqfyif] {
  padding-top: 1rem;
}

.nav-item:last-of-type[b-t57kiqfyif] {
  padding-bottom: 1rem;
  text-decoration: none;
}

.nav-link-icon[b-t57kiqfyif] {
  --_nav-link-icon-Fill: var(--nav-link-icon-Fill, currentColor);
  --_nav-link-icon-LineHeight: var(--nav-link-icon-LineHeight, 1em);
  --_nav-link-icon-FontSize: var(--nav-link-icon-FontSize, 2rem);
  --_nav-link-icon-MarginRight: var(--nav-link-icon-MarginRight, 0.75rem);
  fill: var(--_nav-link-icon-Fill);
  line-height: var(--_nav-link-icon-LineHeight);
  font-size: var(--_nav-link-icon-FontSize);
  height: var(--_nav-link-icon-FontSize);
  width: var(--_nav-link-icon-FontSize);
  margin-right: var(--_nav-link-icon-MarginRight);
}

.nav-item[b-t57kiqfyif]  .nav-link {
  color: var(--color-on-primary-800, rgb(229, 229, 229));
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
  width: 100%;
}

.nav-item[b-t57kiqfyif]  a.active {
  color: var(--color-primary, rgb(110, 231, 183));
}

.nav-item[b-t57kiqfyif]  .nav-link:hover {
  background-color: var(--color-gray-700, rgb(53, 63, 77));
}

.navbar[b-t57kiqfyif] {
  display: none;
}

@media (min-width: 36em) {
  .navbar[b-t57kiqfyif] {
    /* Never collapse the sidebar for wide screens */
    display: block;
    /* Allow sidebar to scroll for tall menus */
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
  }
}

/*# sourceMappingURL=NavMenu.razor.css.map */
