<header class="header is-flex is-flex-direction-row">
   <div class="navbar-toggler">
      <input type="checkbox" id="navbar-toggler__checkbox">
      <label for="navbar-toggler__checkbox" class="navbar-toggler__icon">
         <span class="navbar-toggler__icon-line"></span>
         <span class="navbar-toggler__icon-line"></span>
         <span class="navbar-toggler__icon-line"></span>
      </label>
      <aside class="sidebar navbar-toggler__navbar">
         <NavMenu/>
      </aside>

   </div>
   <div class="header__logo">
      Ladral TODO
   </div>

</header>