@inherits LayoutComponentBase

<div class="page u-h-100 is-flex is-flex-direction-column">

    <Header></Header>

    <main class="is-flex-grow-1 is-flex is-flex-direction-row u-overflow-auto">

        <aside class="sidebar">
            <NavMenu/>
        </aside>
        <article class="container px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>