@use "../abstracts/functions" as fx;

:root {

  /* shadow - tokens for hover animation */
  --token-shadow:
          0 0.0625rem 1rem #{fx.getColor(grey, 900)};
  
  --token-ring-shadow: 0px 0px 25px 0px;

  --token-transition: .8s cubic-bezier(.52,.16,.04,1);

  /* outlines */
  --token-outline: 2px solid #{fx.getPrimaryColor()};

}