# ASP.NET Core
ASPNETCORE_ENVIRONMENT=Production

# Web App port
WEBAPP_PORT=8080

# Authentication (OIDC / IDP)
AUTH_AUTHORITY=http://localhost:3001/oidc
AUTH_CLIENT_ID=your-client-id
AUTH_CLIENT_SECRET=your-client-secret
AUTH_AUDIENCE=https://todo-api.local.ch

# API
API_PORT=5226
API_BASE_URL=http://api:8080

# Logto (only used with docker-compose.logto.yml)
LOGTO_TAG=latest
LOGTO_DB_URL=postgres://postgres:p0stgr3s@logto-postgres:5432/logto
LOGTO_POSTGRES_USER=postgres
LOGTO_POSTGRES_PASSWORD=p0stgr3s
LOGTO_ENDPOINT=http://localhost:3001
LOGTO_ADMIN_ENDPOINT=http://localhost:3002
