@use "../abstracts/functions" as fx;

.header {
  --_header-ZIndex: var(--header-ZIndex, 20);
  --_header-Padding: var(--footer-Padding, 1rem 0);
  --_header-BoxShadow: var(--header-BoxShadow, 0 0.125rem 1rem #{fx.getColor(grey, 900)});
  
  z-index: var(--_header-ZIndex);
  padding: var(--_header-Padding);
  box-shadow: var(--_header-BoxShadow);
  position: sticky;
  top: 0;
  width: 100%;
  color: fx.getOnColor(grey, 600);
  background-color: var(--dral-transparent, rgba(55, 65, 81, 0.6));
  backdrop-filter: blur(5px);
}
